/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: Graphik, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    direction: ltr;
    font-variant-numeric: lining-nums;
    -ms-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
    color: #47474f;
    background-image: url(/background.svg);
}

.pattern-bg {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    background-position: center center;
    background-size: 100% auto;
    background-image: url(/background.svg);
}
/* Navbar styles */
.navbar {
    background: #ffffff;
    color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 767.98px) {
    .body {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 991.98px) {
    .body {
        font-size: 18px;
        line-height: 22px;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}

.nav-item .nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
    direction: 1tr;
    font-family: Graphik, Arial, sans-serif;

}

.nav-item .nav-link:hover {
    color: rgb(71, 108, 255);
}

.cta-buttons {
    display: flex;
    gap: 1rem;
    color: #fff;
}

.btn {
    padding: 0.5rem 1rem;
    color: #fffefe;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s ease;
}


.primary-btn {
    background-color: #6986e6;
     border: 2px solid #5f5feb;
     color: #fffefe;
 }
 
 .primary-btn:hover {
     background: #75b1e6;
     color: #ffffff;
 }

.secondary-btn {
   background-color: #5f5feb;
    color: #ffffff;
    border: 2px solid #5f5feb;
}

.secondary-btn:hover {
    background: #75b1e6;
    color: #ffffff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background: #040404;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background: #fffefe;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .cta-buttons {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }
}


/*HERO SECTION CSS STYLE CODE*/
/* Hero section styles */
.hero {
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 1rem;
    background: #ffffff;
}

.hero-left {
    flex: 1;
    padding-right: 1rem;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}

.hero-headline {
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-bottom: 1rem;
    color: #333;
}

.hero-tagline {
    font-size: 1.25rem;
    margin-left: 5%;
    margin-bottom: 2rem;
    color: #666;
}

.hero-btn {
    background: #5f5feb;
    margin-left: 5%;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease;
    margin-bottom: 8px;
}

.hero-btn:hover {
    background: #75b1e6;
}

.hero-image {
    height: auto;
    margin-top: 0px;
    border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-left {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .hero-headline {
        font-size: 2rem;
    }

    .hero-tagline {
        font-size: 1rem;
    }

    .hero-btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .hero-right {
        text-align: center;
    }

    .hero-image {
        max-width: 100%;
        border-radius: 10px;
    }
}

/*HERO SECTION MOBILE VIEW RESPONSIVNESS */
@media (max-width: 440px) {
    .hero{
        margin-top: 0px;
        padding-top: 10px;
        
    }
    .hero .hero-right{
        margin-top: 0px;
        padding-top: 0px;

    }
}

@media (max-width: 640px) {
    .hero{
        margin-top: 0px;
        padding-top: 10px;
    }
    .hero .hero-right{
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media (max-width: 90em) {
    .hero{
       padding-top: 10px;
        
    }
}

/*END OF HERO SECTION MOBILE VIEW*/

a:link {
    color: white;
}
/*FEATURE SECTION*/
/*tools container*/
/* Flexbox layout for tools */
/* .tools {
    background: #f9f9f9;
    padding: 5rem 0;
} */
.tools{
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.container {
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
}

.container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
    flex: 1;
    /* display: flex; */
    max-width: 300px;
    padding: 2rem;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease;
}

.item-header {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust spacing between icon and title */
    margin-bottom: 1rem;
}

.item:hover {
    transform: translateY(-10px);
}

.item .card-title {
        font-size: 22px;
        margin-top: 8px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        line-height: 20px;
        color: #1d1b1b;
        margin-bottom: 4px;
    
}

.item .card-description {
    margin-bottom: 1rem;
    line-height: 22px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .3px;
    font-size: 13px;
    color: #707078;

}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline */
}

/* Optional: Remove hover effects if needed */
a:hover, a:focus {
    color: inherit; /* Maintain the same color as the parent on hover/focus */
    text-decoration: none; /* Maintain no underline on hover/focus */
}


#icon{
    height: 20px;
    width: 20px;
}

@media (max-width: 440px) {
    .icon a .icon {
        margin-right: 12px;
    }
}

@media (max-width: 640px) {
    .icon {
        width: 32px;
        height: 32px;
        margin-bottom: 12px;
    }
}
@media (max-width: 90em) {
    .icon {
        width: 42px;
        height: 42px;
    }
}
.icon {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
}

@media (max-width: 767.98px) {
    .item h3 {
    font-size: 22px;
    margin-top: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #1d1b1b;
    margin-bottom: 4px;
    }
}

@media (max-width: 991.98px) {
    .item h3 {
        font-size: 22px;
    margin-top: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #1d1b1b;
    margin-bottom: 4px;
    }
}
.item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #33333b;
    margin-bottom: 8px;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

/*TESTOMONIAL SECTION*/
.testimonial {
    max-width: 100%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center; /* Center align content */
}
a:link{
    color: black;
}

.testimonial h2 {
    font-size: 24px;
    color: #333;
}

.testimonial p {
    font-size: 16px;
    color: #666;
}

.test-img {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    margin-top: 20px;
    mix-blend-mode: multiply;
}

.test-img img {
    width: 90px;; /* Ensure images are responsive */
    height: 90px;
    border-radius: 8px;
    justify-content: space-between;
    margin: 50px; /* Equal margin around each image */
    margin-top: 20px;
}

#test-body{
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin: 50px;
    font-size: 20px;
}

#test-head{
    align-items: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #33333b;
}
.users{
    align-items: center;
    width: fit-content;
}
.p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

}
@media (max-width: 440px) {
    .test-img {
        flex-direction: column;  
        display: inline-flex;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 640px) {
    .test-img {
        flex-direction: column;  
        display: inline-flex;
        align-items: center;
        align-content: center;
    }
}
@media (max-width: 90em) {
    .test-img {
      display: flex;
    }
}

#review{
    word-wrap: break-word;
}
/* Testimonials section */
/*footer satrt*/
/* General styling */
/* .site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    margin-top: 10px;
    margin-left: 5px;
}

.social-icons .icon-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.contact-info {
    margin-top: 10px;
    margin-left: 5px;
}

.contact-info p {
    margin: 5px 0;
} */


/* General styling */
.site-footer {
    background-color: #040404;
    color: #fff;
    padding: 30px 0;
    flex-wrap: wrap;
    display:flexbox;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section img {
    width: 100px; /* Adjust logo size as needed */
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

#companydec{
    font-size: 10px;
    margin-left: 6px;
}

@media (max-width: 440px) {
    .site-footer .container{
        margin-left: 10px;
        display: block;
        
    }
}

@media (max-width: 640px) {
    .site-footer .container{
        margin-left: 10px;
        display: block;
        
    }
}

@media (max-width: 90em) {
    .site-footer .container{
        margin-left: 10px;
        display: block;
        
    }
}

@media (max-width: 440px) {
    .site-footer{
        font-size: small;
        margin-left: 20px;
        flex-wrap: wrap;
    }
    #clogo{
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 640px) {
    .site-footer{
       font-size: small;
       margin-left: 20px;
        flex-wrap: wrap;
    }
    #clogo{
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 90em) {
    .site-footer{
      font-size: small;
      margin-left: 2px;
      flex-wrap: wrap;
    }
    #clogo{
        height: 50px;
        width: 50px;
    }
}
#credits {
    display: flex; /* Ensures the flex properties work */
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Horizontally centers the items */
    margin-left: 30px;
    margin-top: 20px;
}
/*end of footer*/

